.struktural {
    height: 100%;
    width: 100%;
    text-align: center;
}

.struktural-container {
    height: 100%;
    width: 100%;
    padding: 6rem 0;
}

.bgStruk {
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    margin: 30px;
    box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.116);
}

.ketua {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.ketua h3 {
    text-align: center;
    margin-bottom: 10px;
}
.wakilKetua {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.wakilKetua h3{
    text-align: center;
    margin-bottom: 10px;
}

.sekBen{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.sekBen h3 {
    text-align: center;
}

.seksi {
    display: flex;
    justify-content: space-around;

}

p {
    color: #fff;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.anggota-Humas h3{
    text-align: center;
}
.anggotaKorlap h3{
    text-align: center;
}
.anggotaKes h3{
    text-align: center;
}
.anggotaPem h3{
    text-align: center;
}
.anggotaDok h3{
    text-align: center;
}

h3 {
    margin-bottom: 10px;
}

.card {
    background-color: #913436;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    height: 65px;
    align-items: center;
    color: #FFF6E3;
    text-align: center;
}


.card ul {
    display: contents;
    font-size: 15px;
    list-style: none;
}

.card-seksi {
    background-color: #913436;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    height: 100px;
    align-items: center;
    color: #FFF6E3;
    text-align: center;
    display: block;
    justify-content: center;
}

@media screen and (max-width: 640px) {
    .struktural-container {
        padding: 4rem 1rem;
    }

    .struktural h1 {
        font-size: 25px;
        margin-bottom: 1rem;
    }

    .bgStruk {
        height: 70%;
        width: 100%;
        padding: 10px;
        margin: 0;
    }

    .card ul {
        font-size: 8px;
    }

    h3 {
        font-size: 10px;
    }

    .card {
        width: 100%;
        height: 70%;
    }
    
    .card p {
        font-size: 8px;
    }

    .card-seksi {
        width: 100%;
        height: 80%;
        font-size: 8px;
    }
}
